body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(255, 238, 0),rgb(151, 207, 20));
    background-size: cover;
    background-attachment: fixed;
}
.inputtext{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.inputtext input{
    height: 2rem;
    width: 270px;
    border: 3px solid #333;
}
.buttons{
    margin-top: 10px;
    text-align: center;
}
.buttons input{
    color: #fff;
    background: rgb(3, 129, 148);
    width: 110px;
    height: 30px;
    border-style: none;
    border-radius: 20px;
    transition: 1s ease;
    font-weight: 800;
}
.buttons input:hover{
    transform:translate(2);
    background: #fff;
    color:rgb(3, 129, 148);
}
#display{
    /* width: 100px; */
    height: max-content;
    margin-left: 37%;
    margin-top: 20px;
    /* display: block; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    /* text-align: center; */
}